body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* background-image: url(minion.jpg); */

    /* background-color: #fde047; */


}

.top{
    background-color: #fde047;
    padding: 4rem;
    padding-left: 2rem;
    margin-bottom: 3rem;
    margin: 0;
    top: 0;
    /* position: fixed; */
    width: 100%;
    text-align: center;
    height: 1vh;



}

header{
    margin:0;
    padding: 0px;
}

.minion{
   /* background-color: skyblue; */
   margin-top:0;
   padding: 3rem;

}
img{
    
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 16vh;
    object-fit: cover;

}

#text{
    width: 80%;
    height: 5vh;
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
    border: 2px solid black;
    padding: 1rem;
    margin-bottom: 2rem;
}

#translate{
background-color: #fde047;
padding: 1rem 3rem;
border: none;
font-weight: bold;
margin-bottom: 3rem;
}

#box{
    width: 80%;
    height: 5vh;
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
    border: 2px solid black;
    padding: 1rem;
    margin-bottom: 2rem;
}